<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsAppBatch989</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="background: steelblue; color: white; padding: 12px 24px;">
      <h3>navbar</h3>
      <% time = Time.now + 3.days %>
      <p>The time is currently <%= time %></p>
      <div>
        <%= link_to 'ðŸ ', root_path %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Contact', contact_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
